apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
type: Opaque
data:
  mongo-root-username: cm9vdA== # base64 encoded value of "root"
  mongo-root-password: cGFzcw== # base64 encoded value of "pass"