<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node: EJS</title>
</head>
<body>
    <h1>This is the Home Page</h1>
    <h3>
        <%= 1+2 %> 
        <!-- This will output 3/Final value will be in string form only -->
         <br>
         <%= "priyanshuksharma".toUpperCase() %> 
    </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod itaque quas alias ab odit earum ullam sequi id. Omnis suscipit nisi veritatis rerum voluptas pariatur voluptatibus architecto temporibus, ullam incidunt?
        Dolor ab, dolore accusantium quidem sit, nostrum omnis doloribus ipsam quisquam quos in blanditiis reiciendis fuga consequuntur consectetur modi eos? Alias ipsa mollitia veritatis aspernatur harum quaerat et incidunt voluptatum?
        Dolores quidem vel nobis quibusdam temporibus nihil eius pariatur doloremque nesciunt officia, est at perferendis voluptates velit cupiditate ad eveniet iusto provident hic, expedita in architecto. Aspernatur ipsum tenetur repudiandae?
        A qui quas animi vel aut sequi omnis sapiente dicta eligendi fuga saepe atque rem expedita harum explicabo ut quaerat, unde minus quisquam natus inventore repellendus, quos quidem. Nam, ex!
        Nobis facere quae animi obcaecati, repellat laudantium debitis porro asperiores quidem, autem nesciunt atque ratione culpa omnis at mollitia magni hic sapiente id eius maxime amet? Unde expedita dolore quo!
    </p>

    <button>Click me!</button>
</body>
</html>